@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using TournamentCalendar.Views
@inject IWebHostEnvironment WebHostEnvironment
<!DOCTYPE html>
<html lang="de">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="Kalender, Auswertungs-Software und Newsletter für Volleyball-Turniere.">
    <meta name="keywords" content="Volleyball,Turnier,Turniere,Newsletter,Volley-News,Software,Auswertung">
    <meta name="author" content="axuno gGmbH">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (IsSectionDefined(SectionName.MetaSection)){@RenderSection(SectionName.MetaSection, false)}
    <title>@ViewBag.TitleTagText</title>
    <!-- favicons start -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#3299bb">
    <link rel="shortcut icon" href="/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="volleyball-turnier.de">
    <meta name="application-name" content="volleyball-turnier.de">
    <meta name="msapplication-TileColor" content="#3299bb">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- favicons end -->
    <link rel="stylesheet" href="@Url.Content(CssName.Lib.BootstrapAllCss)" />
    <link rel="stylesheet" href="@Url.Content(CssName.General.SiteCss)" />
    @if (IsSectionDefined(SectionName.CssSection))
    {@RenderSection(SectionName.CssSection, false)}
    @if (IsSectionDefined(SectionName.ScriptHeadSection))
    {@RenderSection(SectionName.ScriptHeadSection, false)}
</head>
<body>
    <header class="rounded site">
        <div style="text-align: right; margin-top: 10px; padding-right: 35px; padding-bottom: 10px">
            <a href="/" style="text-decoration: none">
                <span style="display: inline-block; text-align: center; font-size: 18px; line-height: 27px; color: white; padding: 0 8px; font-weight: bold; background-color: #BB3299">Volleyball-Turnier</span>
                <span style="display: inline-block; text-align: center; font-size: 18px; line-height: 27px; color: white; padding: 0 8px; font-weight: bold; background-color: #3299BB">.de</span>
            </a>
        </div>
    </header>
    <nav id="nav-main" class="navbar navbar-expand-md navbar-dark sticky-top rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar-header" class="collapse navbar-collapse">
            @* <a class="navbar-brand" href="#">axuno</a>*@
            @await (Component.InvokeAsync<NavigationViewComponent>(new { viewName = "BootstrapTopNavWithDropdowns", filterName = NamedNavigationFilters.TopNav, startingNodeKey = "" }))
        </div>
    </nav>
    <div id="content" class="container-fluid rounded">
        @RenderBody()
    </div>
    <footer class=" rounded site">
        <div class="text-right">
            &copy; 2000-@DateTime.Now.Year, powered by <b><a href="https://www.axuno.net/" style="text-decoration: none">axuno gGmbH</a></b>
        </div>
    </footer>
<script src="@Url.Content(ScriptName.Lib.JqueryJs)"></script>
<script src="@Url.Content(ScriptName.Lib.BootstrapAllJs)"></script>
@if (IsSectionDefined(SectionName.ScriptStandardSection))
{@RenderSection(SectionName.ScriptStandardSection, false)}
@if (WebHostEnvironment.IsProduction())
{<!-- Global site tag (gtag.js) - Google Analytics - start -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-28246687-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-28246687-2');
    </script>
<!-- Global site tag (gtag.js) - Google Analytics - end -->
}
</body>
</html>
