@using Microsoft.AspNetCore.Mvc.Localization
@using TournamentCalendar.Controllers
@model TournamentCalendar.Models.AccountViewModels.SignInViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Anmelden";
    ViewContext.ClientValidationEnabled = false;
}
<h2 class="h2">@ViewData["Title"]</h2>
<div class="col-md-8 col-sm-10 col-12 ps-0 pb-3">
    <form asp-controller="@nameof(Auth)" asp-action="@nameof(Auth.SignIn)" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form" class="ps-0">
        <asp-validation-summary></asp-validation-summary>
        <div asp-validation-summary="All" class="validation-summary-errors msg-validation rounded">
            <b>Die Eingaben enthalten Fehler:</b>
        </div>
        <div class="mb-3">
            <label asp-for="EmailOrUsername" class="form-label"></label>
            <div class="input-group">
                <input asp-for="EmailOrUsername" class="form-control" required="required" novalidate />
                <span class="input-group-text">
                    <i class="bi bi-person-fill" style="font-size:1.2em"></i>
                </span>
            </div>
            <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="form-label"></label>
            <div class="input-group">
                <input asp-for="Password" class="form-control" required="required" type="password" novalidate />
                <span class="input-group-text">
                    <i class="bi bi-unlock-fill" style="font-size:1.2em"></i>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input asp-for="RememberMe" class="form-check-input" novalidate/>
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary col-10">Anmelden</button>
        </div>
    </form>
</div>
@section ScriptStandardSection
{
    <script type="text/javascript">
    //<![CDATA[
        'use strict';
        document.addEventListener('DOMContentLoaded', OnDOMContentLoaded, false);
        function OnDOMContentLoaded() {
            document.getElementById('@Html.IdFor(m => m.EmailOrUsername)').focus();
        }
    //]]>
</script>
}