@inject UserLocationService userLocation
@model TournamentCalendar.Models.Calendar.BrowseModel
@using TournamentCalendar.Controllers
@using TournamentCalendar.Services
@using TournamentCalendar.Views
<div class="row">
    <div class="col-md-6">
        <h3 class="h3">@ViewBag.TitleTagText</h3>
        <p>
            Auf dieser Seite erscheinen primär Volleyball-Turniere aus dem deutschsprachigen Raum.
        </p>
        <p>
            Wer möchte, wird mit <b>@Html.ActionLink("Volley-News", nameof(InfoService.Index), nameof(InfoService), null, new { @class = "link" })</b> per E-Mail über neue Einträge im Turnierkalender informiert.
        </p>
        <p>
            Findet ein Turnier statt, das hier nicht aufgeführt ist?
            <b>@Html.ActionLink("Gleich in den Kalender eintragen.", nameof(Calendar.Entry), nameof(Calendar), null, new { @class = "link" })</b>
        </p>
    </div>
    <div class="col-md-6 d-none d-md-block">
        @* Hide on devices smaller than MD *@
        <img src="@Url.Content("~/images/ball-crown.jpg")" class="rounded text-right" alt="Turniere" style="width: 100%" />
    </div>
    <div class="row justify-content-between pe-0">
        <div class="col-8 pt-0 pe-0 fs-6">
            @if (Model.DisplayModel.Any())
            {
                var rec = Model.DisplayModel.Last();
                <span class="m-0 text-success">
                    <strong>Filtern der Tabelle</strong> (z.B.: &quot;@string.Join(string.Empty, rec.GetTournamentType().Take(5)).ToLower()&quot; für @rec.GetTournamentType()-Turniere)
                </span>
            }
        </div>
        <div class="col-4 text-end p-0 text-nowrap">
            @if (!userLocation.GetLocation().IsSet)
            {
                <span class="d-inline-block d-md-none fs-6">
                    <a asp-action="@nameof(GeoLocation.Index)" asp-controller="@nameof(GeoLocation)"><b><span class="bi bi-square text-danger"> Entfernungen</span></b></a>
                </span>
                <span class="d-none d-md-inline-block fs-5">
                    <a asp-action="@nameof(GeoLocation.Index)" asp-controller="@nameof(GeoLocation)"><b><span class="bi bi-square text-danger"> Entfernungen anzeigen</span></b></a>
                </span>
            }
        </div>
    </div>
    <div class="pb-2 table-responsive">
        <table id="tournaments-table" class="table table-striped table-bordered border-light table-hover rounded">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Turniername</th>
                @*<th>Ausrichter</th>*@
                <th>Art</th>
                <th>Belag</th>
                <th>PLZ</th>
                <th>km</th>
                <th class="text-center"><i class="bi bi-info-circle-fill"></i></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var m in Model.DisplayModel)
            {
                var distance = m.GetDistanceToVenue();
                var distanceStyle = distance < 150 ? "font-weight:bold" : "";
                <tr id="@m.Id" title="Details zu &quot;@m.TournamentName&quot; - @m.Organizer">
                    <td>@m.DateFrom.ToString("dd.MM.yy")</td>
                    <td>@m.GetTournamentNameShort(60)</td>
                    @*<td>@m.GetOrganizerShort(20)</td>*@
                    <td>@m.GetTournamentTypeShort()</td>
                    <td>@m.GetSurface()</td>
                    <td>@m.CountryId-@m.PostalCode</td>
                    <td style="@(distanceStyle)">@distance</td>
                    <td class="text-center"><a href="@Url.Action(nameof(Calendar.Id), nameof(Calendar), new { id = m.Id })" style="text-decoration: none" aria-label="@(m.TournamentName)"><i class="bi bi-info-circle @((DateTime.Now.Date - m.ModifiedOn.Date).Days < 2 ? "text-primary" : "")"></i></a></td>
                </tr>
            }
            </tbody>
        </table>
        <div class="small text-primary">Insgesamt @Model.DisplayModel.Count() Turniere im Kalender</div>
    </div>
</div>
@section MetaSection {
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="@Url.Action(nameof(Calendar.All), nameof(Calendar))" />
}
@section CssSection {
    <link href="@Url.Content(CssName.Lib.SimpleDataTablesCss)" rel="stylesheet" />
    @* Styles used in wrappers inserted by simpleDatatables javaScript *@
    <style>
        .datatable-top {
            padding-left: 0 !important;
            padding-top: .25rem !important;
            padding-bottom: 1rem !important;
        }

        .datatable-search {
            float: left !important;
        }

        .datatable-container {
            border-bottom: 0 !important;
        }

        button.datatable-sorter {
            text-decoration: none !important;
        }

        .datatable-table > tbody > tr > td,
        .datatable-table > tbody > tr > th,
        .datatable-table > tfoot > tr > td,
        .datatable-table > tfoot > tr > th,
        .datatable-table > thead > tr > td,
        .datatable-table > thead > tr > th {
            padding: 8px 5px !important;
        }
    </style>
}
@section ScriptStandardSection {
    <script src="@Url.Content(ScriptName.Lib.SimpleDataTablesJs)" asp-append-version="true"></script>
    <script>
    //<![CDATA[
    'use strict';
    
    document.addEventListener('DOMContentLoaded', OnDOMContentLoaded, false);

    function OnDOMContentLoaded() {

        const tournamentsTableElement = document.querySelector("#tournaments-table");
        const labelsEN = {
            placeholder: "Search...",
            searchTitle: "Search within table",
            perPage: "entries per page",
            noRows: "No entries found",
            info: "Showing {start} to {end} of {rows} entries",
            noResults: "No results match your search query"
        };
        const labelsDE = {
            placeholder: "Suchen...",
            searchTitle: "Begriff(e) zum Filtern der Tabelle",
            perPage: "Einträge pro Seite",
            noRows: "Keine Einträge gefunden",
            info: "Anzeige von {start} bis {end} von {rows} Einträgen",
            noResults: "Keine Einträge für die Suchbegriffe gefunden"
        };
        const options = {
            searchable: true,
            sortable: true,
            searchQuerySeparator: ' ',
            paging: false,
            fixedColumns: true,
            columns: [
                {
                    select: 0,
                    type: 'date',
                    format: 'DD.MM.YY'
                },
                {
                    select: 5,
                    searchable: false,
                    type: 'number'
                },
                {
                    select: 6,
                    sortable: false
                }
            ],
            labels: labelsDE,
            classes: {
                input: 'form-control',
                sorter: 'datatable-sorter btn btn-link btn-sm p-0 m-0'
            } 
        }
        const tournamentsTable = new window.simpleDatatables.DataTable(tournamentsTableElement, options);
        tournamentsTable.columns.sort(0, 'asc');
        makeRowsClickable();
        tournamentsTable.on('datatable.update', makeRowsClickable);
        @{
            if (Model.IsGeoSpacial())
            {
                <text>tournamentsTable.columns.show(5);</text>
            }
            else
            {
                <text>tournamentsTable.columns.hide(5);</text>
            }
        }
        
        function makeRowsClickable()
        {
            // Make each table row clickable
            [].forEach.call(document.querySelectorAll('#tournaments-table td a'), function (el) {
                const row = el.closest('tr');
                row.style.cursor = 'pointer';
                row.addEventListener('click', function (event) {
                    const link = this.querySelector('td a');
                    if (!link) return;
                    window.location = link.href;
                });
            });
        }
    }
//]]>
</script>
}
