@model TournamentCalendar.Models.Contact.ContactBaseModel
<h3 class="h4">Absender</h3>
<fieldset class="rounded">
    <legend class="rounded">Erforderliche Angaben</legend>
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-required col-12 col-sm-10 col-md-8", maxlength = 100 })
    @Html.ValidationMessageFor(m => m.Email, null, new { @class = "msg-error-text" })
    @Html.LabelFor(m => m.Gender)
    @Html.DropDownListFor(m => m.Gender, Model.GetGenderList(), new { @class = "input-required selectpicker", data_width = "auto" })
    @Html.ValidationMessageFor(m => m.Gender, null, new { @class = "msg-error-text" })
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-12 col-sm-10 col-md-8", maxlength = 50 })
    @Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-required col-12 col-sm-10 col-md-8", maxlength = 50 })
    @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "msg-error-text" })
    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-required col-12 col-sm-10 col-md-8", maxlength = 50 })
    @Html.ValidationMessageFor(m => m.LastName, null, new { @class = "msg-error-text" })
</fieldset>
<fieldset class="rounded" style="margin-top: 10pt">
	<legend class="rounded">Freiwillige Angaben</legend>
		@Html.LabelFor(m => m.Street)
		@Html.TextBoxFor(m => m.Street, new { @class = "form-control col-12 col-sm-10 col-md-8", maxlength = 100 })
		@Html.LabelFor(m => m.PostalCode)
		@Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control col-6 col-sm-4 col-md-2", maxlength = 5 })
		@Html.LabelFor(m => m.City)
		@Html.TextBoxFor(m => m.City, new { @class = "form-control col-12 col-sm-10 col-md-8", maxlength = 100 })
		@Html.LabelFor(m => m.Fone)
		@Html.TextBoxFor(m => m.Fone, new { @class = "form-control col-12 col-sm-10 col-md-8", maxlength = 30 })
</fieldset>



