@using TournamentCalendar.Controllers
@model TournamentCalendar.Models.Contact.ContactModel
<div class="pb-2">
    <h3 class="h3">Nachricht an volleyball-turnier.de</h3>
    <form asp-controller="@nameof(Contact)" asp-action="@nameof(Contact.Message)" asp-route-guid="" method="post">
        <div asp-validation-summary="All" class="validation-summary-errors msg-validation rounded">Die Eingaben enthalten Fehler. Bitte korrigieren.</div>
        <partial name="_AddressFieldsPartial" model="Model" />
        <h4 class="h4">Nachricht</h4>
        <fieldset class="rounded">
            <label asp-for="@Model.Subject" class="form-label"></label>
            <input asp-for="@Model.Subject" maxlength="100" class="form-control input-required col-12 col-sm-10 col-md-8" novalidate/>
            <span asp-validation-for="@Model.Subject" class="msg-error-text"></span>
            <label asp-for="@Model.Message" class="form-label"></label>
            <textarea asp-for="@Model.Message" class="form-control input-required col-12 col-sm-10 col-md-8" style="height: 12em"></textarea>
            <span asp-validation-for="@Model.Message" class="msg-error-text"></span>
        </fieldset>
        <fieldset class="rounded my-2">
            <div class="mt-2">
                <img id="CaptchaImage" style="vertical-align: bottom; width: 200px; display:inline" class="rounded" src="@Url.Action(nameof(Captcha.Index), nameof(Captcha))@("?guid=" + Guid.NewGuid())" alt="Captcha" />
                <span id="ReloadCaptcha" style="cursor: pointer"><i class="bi bi-arrow-clockwise bi-2x" style="margin: 0 5px 0 5px" title="Bild neu laden"></i>Bild neu laden</span><br />
            </div>
            <label asp-for="@Model.Captcha" class="form-label"></label>
            <input asp-for="@Model.Captcha" maxlength="7" class="form-control input-required" style="width:12rem" novalidate />
            <span asp-validation-for="@Model.Captcha" class="msg-error-text"></span>
            <div class="form-check my-2">
                <input asp-for="@Model.CarbonCopyToSender" type="checkbox" class="form-check-input" novalidate/>
                <label asp-for="@Model.CarbonCopyToSender" class="form-check-label"></label>
            </div>
            <div class="my-1">
                <input type="submit" name="Submit" value="Abschicken" id="Submit" class="col-12 col-sm-6 btn btn btn-lg btn-success" />
            </div>
        </fieldset>
    </form>
</div>
@section CssSection {}
@section ScriptStandardSection {
    <script type="text/javascript">
    //<![CDATA[
    const textbox = document.getElementById('@Html.IdFor(m => m.Email)');
    if (textbox) textbox.focus();
    const reloadCaptcha = document.getElementById('ReloadCaptcha');
    if (reloadCaptcha) {
        reloadCaptcha.addEventListener('click', function () {
            if (document.images) document.images.CaptchaImage.src = '@Url.Action(nameof(Captcha.Index), nameof(Captcha))?new=1&amp;time=' + new Date().getTime();
            document.getElementById('@Html.IdFor(m => m.Captcha)').focus();
        });
    }
    //]]>
</script>
}