@using TournamentCalendar.Controllers
@model IEnumerable<Organization.DownloadFile>
<section class="pb-2">
    <div class="row">
        <div class="col-sm-9">
            <h3 class="h3">Turnierauswertung</h3>
            <p>
                Turniere kann man selbstverständlich mit Papier, Bleistift und Radiergummi organisieren und auswerten.
                Deutlich bequemer geht es aber mit entsprechender Software.
            </p>
            <p>
                Meistens handelt es sich bei der Software um Excel-Tabellenkalkulationen, die sich dafür recht gut eignen.
                Es gibt viele solcher fertigen Excel-Kalkulationen. 
            </p>
            <p>
                Die Excel-Tabellen auf dieser Seite wurden bereits vielfach erfolgreich in Turnieren eingesetzt,
                und sie sind einfach zu bedienen.
            </p>
        </div>
        <div class="col-6 col-sm-3">
            <img src="@Url.Content("~/images/excel-turnier.png")" class="text-right img-fluid" alt="Turnierauswertung"/>
        </div>
    </div>
    <div class="card shadow p-2">
        <div class="row">

            <div class="col-sm-8">
                <h5 class="h5">
                    Turnierauswertung
                    für Microsoft Excel (ab 2007)<br />
                    (12 Mannschaften auf 2 Spielfeldern)
                </h5>
                Spielmodus:
                <ul>
                    <li>Vorrunde: 2 Gruppen zu 6 Mannschaften - jeder gegen jeden</li>
                    <li>Zwischenrunde: Überkreuz der Gruppenersten/-zweiten, Gruppendritten/-vierten, usw.</li>
                    <li>Endrunde: Die Sieger der Zwischenrunde spielen um die Plätze 1, 5, 9 - die Verlierer um die Plätze 3, 7 und 11.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                @{var file1 = Model.First(m => m.Id == "turnier-ausw-12-2.xlsm"); }
                <i class="bi bi-arrow-down-circle-fill bi-2x text-success" aria-hidden="true"></i>
                @Html.ActionLink("Download", nameof(Organization.Download), nameof(Organization), new { file = file1.Id }, null)
                <br />(@file1.Size Bytes)
            </div>

        </div>
    </div>
    <div class="card shadow p-2 my-4">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="h5">
                    Turnierauswertung
                    für Microsoft Excel (ab 2007)<br />
                    (16 Mannschaften auf 4 Spielfeldern)
                </h5>
                Spielmodus:
                <ul>
                    <li>Vorrunde: 4 Gruppen zu 4 Mannschaften - jeder gegen jeden</li>
                    <li>Zwischenrunde 1: Überkreuz der Gruppenersten/-zweiten, Gruppendritten/-vierten.</li>
                    <li>Zwischenrunde 2: Sieger gg. Sieger, Verlierer gg. Verlierer der Zwischenrunde</li>
                    <li>Endrunde: Die Sieger der Zwischenrunde 2 spielen um die Plätze 1, 5, 9, 13 - die Verlierer um die Plätze 3, 7, 11 und 15.</li>
                </ul>
            </div>
            <div class="col-sm-4">
                @{var file2 = Model.First(m => m.Id == "turnier-ausw-16-4.xlsm"); }
                <i class="bi bi-arrow-down-circle-fill bi-2x text-success" aria-hidden="true"></i>
                @Html.ActionLink("Download", nameof(Organization.Download), nameof(Organization), new { file = file2.Id }, null)
                <br />(@file2.Size Bytes)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            Die beiden obengenannten Lösungen sind praxiserprobt und können jederzeit selbst an eigene Bedürfnisse angepasst werden.
            Sie unterliegen der &quot;<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de">CC0 1.0 Universell Lizenz</a>&quot;,
            dürfen also frei kopiert, verändert und verbreitet werden.
        </div>
    </div>
    <div class="card shadow p-2 my-4">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="h5">
                    Volleyballturnierorganisator
                </h5>
                <div>Hauptmerkmale</div>
                <ul>
                    <li>Läuft auf Microsoft Windows 11, 10, 8, 7, Vista, XP, NT und 98</li>
                    <li>Volleyballturnierorganisator 4.0.3 ist eine Software zur Vorbereitung und Durchführung von Turnieren für Volleyball und andere Ballsportarten</li>
                    <li>Vor dem Turnier wird der Spielplan erzeugt; Spielpläne und Spielberichtsbögen werden ausgedruckt. Während des Turniers werden die Ergebnisse eingegeben. Die Tabellen und Ergebnisse werden berechnet und können jederzeit ausgedruckt werden.</li>
                </ul>
                <div>
                    Mehr Infos gibt es auf der <a href="https://www.turnierprogramm.de/" class="link">Website des Anbieters</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow p-2 my-4">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="h5">
                    SPORT-Software
                </h5>
                <div>Hauptmerkmale</div>
                <ul>
                    <li>Läuft auf Microsoft Windows 11, 10, 8, 7, Vista, XP, NT und 98</li>
                    <li>Es ist auch ein &quot;O&lt; Turnier Manager für Android&quot; erhältlich</li>
                    <li>Mögliche Turniersysteme:  Gruppensystem, KO-Systeme, Rundensystem, Schweizer System, Supermêlée, Poule-System</li>
                    <li>Verwaltet Spieler, Vereine und Schiedsrichter ohne Anzahlbeschränkung</li>
                </ul>
                <div>
                    Mehr Infos gibt es auf der <a href="https://www.sport-software.de/" class="link">Website des Anbieters</a>.
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow p-2 my-4">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="h5">
                    Tournify - Online-Turnierplaner
                </h5>
                <div>Hauptmerkmale</div>
                <ul>
                    <li>Einfach und schnell einen Turnierplan erstellen</li>
                    <li>Übersichtlicher Live-Präsentationsbildschirm</li>
                    <li>Online Registrierungsseite für Teams</li>
                </ul>
                <div>
                    Mehr Infos gibt es auf der <a href="https://tournify.de/" class="link">Website des Anbieters</a>.
                </div>
            </div>
        </div>
    </div>
</section>
@section MetaSection {}
@section CssSection {}
