@model NavigationViewModel
@addTagHelper *, cloudscribe.Web.Navigation
<ul class="navbar-nav me-auto mt-2 mt-md-0" data-bs-theme="light">
    @if (await Model.HasVisibleChildren(Model.RootNode))
    {
        foreach (var node in Model.RootNode.Children)
        {
            if (!await Model.ShouldAllowView(node)) { continue; }
            if (!await Model.HasVisibleChildren(node))
            {
                <li class="nav-item">
                    <a class="@Model.GetClass(node.Value, "nav-link", "active", true)" href="@Url.Content(Model.AdjustUrl(node))">@Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)</a>
                </li>
            }
            else
            {
                <li class="nav-item dropdown">
                    <a class="@Model.GetClass(node.Value, "nav-link dropdown-toggle", "active", true)" data-bs-toggle="dropdown" href="@Url.Content(Model.AdjustUrl(node))" role="button">
                        @Html.Raw(Model.GetIcon(node.Value))@Model.AdjustText(node)@Model.UpdateTempNode(node)
                    </a>
                    @(await Html.PartialAsync("NavigationNodeChildDropdownPartial", Model))
                </li>
            }
        }
    }
</ul>
